name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:

  macos:
    runs-on: macos-latest

    steps:
    - uses: maxim-lobanov/setup-xcode@v1.1
      with:
        xcode-version: latest-stable
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
  
  linux: # Borrowed from https://github.com/NSHipster/SwiftSyntaxHighlighter/blob/master/.github/workflows/ci.yml
      runs-on: ubuntu-latest

      container:
        image: swift:5.3

      steps:
        - name: Checkout
          uses: actions/checkout@v1
        - uses: actions/cache@v2
          with:
            path: .build
            key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
            restore-keys: |
              ${{ runner.os }}-spm-
        - name: Build
          run: ./build-ubuntu-static
        - name: Build and Test
          run: swift test --enable-test-discovery
